body {
    background-color:#ccc;
}
#login-section {
background-color:white;
padding:2%;
border:1px solid black;
box-shadow:5px 5px 5px 5px grey;
margin-top:20%;
}

#validation-summary ul{
list-style-type:none;
padding:0;
}

    #validation-summary ul li {
    color:#ff3131;
    padding:1%;
    }

    #validation-summary #credentials-error{
        color:#ff3131;
        padding:1%;
    }

.custom-hide{
    border:0;
}
.custom-show{

    border-left:2px solid red;
    border-right:2px solid red;
    margin-top:5%;
    padding-left:5%;
    padding-right:5%;
}
